@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
/*стили для хедера */

p {
    width: 100%;
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 10pt;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.topmenu {
    height: 50px;
    
    background-color: #45d3d8;

    color:white;
    font-size: 15pt;
    margin-top: 125px;
    
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.header-bg {
    width: 100%;
    display: inline-block;
    height: 150px;
    background-image: url('../header7.png')
}






/*стили для сайд меню*/
a
{
    
    color:black;

}

a:link{
 
  color:black;
}



.sidebar {
    margin: 1%;
    margin-top: 30px;
    float: left;
    background-color: white;
    display: inline;
    height: 100%;
    width: 13%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.menu {
    display: block;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}





/*стили для body*/

body {

     background-color: #e3e5e8;
}


img {

    padding-top: 10px;
    height: 200px;
    width: auto;
    max-width: 200px;
    border-width: 6px;
    border-color: white;
    border-radius: 5;
    display: block;
    margin: auto;
}

.title {
    padding-top: 10px;
    margin: 5px;
    overflow: hidden;
    height: 50px;
    font-size: 9pt;
}

span {}

.price {
    height: 50px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 10pt;
}





/*стили для таблицы*/

.div-table {
    margin-top: 30px;
    display: table;
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.div-table-row {

    display: table-row;
    width: auto;
    clear: both;
}

.comics-div {

    height: 300px;
    position: relative;
}

.div-table-col {

    float: left;
    display: table-column;
    width: 200px;

    margin: 5px;
}